{% extends 'base.html.twig' %}

{% block title %}Candidatures{% endblock %}

{% block body %}
    <h1>Candidatures {# <a class="btn btn-primary btn-sm" href="{{ path('app_candidature_new') }}"><i class="fa fa-plus"></i> ajouter</a> #} </h1>
    <p>
        Ici, vous pouvez consulter les candidatures des étudiants aux offres de stage.
    </p>

    <table class="MyDataTable table table-striped table-sm table-hover small">
        <thead class="table-dark">
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Parcours</th>
                <th>Entreprise</th>
                <th>Offre</th>
                <th>Parcours</th>
                <th>Type action</th>
                <th>Date action</th>
                <th>Etat</th>
            </tr>
        </thead>
        <tbody>
            {% for candidature in candidatures %}
                <tr>
                    <td><a target="_blank" href="{{ path("app_compte_etudiant_show",{'id':candidature.compteEtudiant.id}) }}">{{ candidature.compteEtudiant.etudiant.nom }}</a></td>
                    <td>{{ candidature.compteEtudiant.etudiant.prenom }}</td>
                    <td>{{ candidature.compteEtudiant.parcours }}</td>
                    <td><a target="_blank" href="{{ path("app_entreprise_show",{'id':candidature.offre.entreprise.id}) }}">{{ candidature.offre.entreprise.raisonSociale }}</a></td>
                    <td><a target="_blank" href="{{ path("app_offre_show",{'id':candidature.offre.id}) }}">{{ candidature.offre.intitule }}</a></td>
                    <td>{{ candidature.offre.parcours }}</td>
                    <td>{{ candidature.typeAction }}</td>
                    <td>{{ candidature.dateAction ? candidature.dateAction|date('d/m/Y H:i') : '' }}</td>
                    <td>{% if candidature.etatCandidature %}{{ candidature.etatCandidature.etat }}{% endif %}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="11">aucun enregistrement trouvé</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <script>
        const titres = document.querySelectorAll("th");
        titres.forEach((titre) => {
                let title = titre.innerText;
                // si le title se termine par un s, on le supprime
                if (title.slice(-1) === "s") {
                    title = title.slice(0, -1);
                }
                // si le title est composé de plusieurs mots, on met des s à tous les mots après avoir supprimé le s du premier mots (s'il y en a un)
                if (title.indexOf(" ") !== -1) {
                    title = title.split(" ").map((mot, index) => {
                        if (index === 0) {
                            if (mot.slice(-1) === "s") {
                                mot = mot.slice(0, -1);
                            }
                            mot = mot + "s";
                        } else {
                            mot = mot + "s";
                        }
                        return mot;
                    }).join(" ");
                } else {
                    title = title + "s";
                }

                title = title.toLowerCase();

                titre.title = "cliquez ici pour trier les informations par " + title;
            }
        );
    </script>
{% endblock %}
