{% extends 'base.html.twig' %}

{% block title %}Utilisateurs{% endblock %}
{% block sort %}[5,'asc'],[4,'asc'],[2,'asc']{% endblock %}

{% block body %}
    <h1>Utilisateurs
        <a class="btn btn-primary btn-sm" href="{{ path('app_compte_etudiant_new') }}"><i class="fa fa-plus"></i> ajouter</a>
    </h1>
    <p>
        Ici, vous pouvez gérer les utilisateurs de l'application.
    </p>

    <table class="MyDataTable  table table-striped table-sm table-hover small">
        <thead class="table-dark">
        <tr>
            <th>Numero INE</th>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Email</th>
            <th>Login</th>
            <th>Parcours</th>
            <th>Dernière connexion</th>
            <th>Etat de la recherche</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for compte in compte_etudiants %}
            {% set isAdmin =  compte.roles[0]=='ROLE_ADMIN' %}
            <tr class="{{isAdmin?'text-danger':''}}">
                <td>{{ compte.etudiant.numeroINE }}</td>
                <td>{{ compte.etudiant.nom }}</td>
                <td>{{ compte.etudiant.prenom }}</td>
                <td>{{ compte.etudiant.email }}</td>
                <td>{{ compte.login }}</td>
                <td>{{ not isAdmin ? compte.parcours : 'PROF'}}</td>
                <td>{{ compte.derniereConnexion ? compte_etudiant.derniereConnexion|date('d/m/Y i:H') : '' }}</td>
                <td>{{ not isAdmin ? compte.etatRecherche.etat : ''}}</td>
                <td>
                    <a
                            href="{{ path('app_compte_etudiant_show', {'id': compte.id}) }}"
                            target="_blank" class="btn btn-sm btn-primary"
                            data-bs-toggle="tooltip" data-bs-title="Cliquez pour voir les caractéristiques de l'utilisateur"
                    >
                        <i class="fa fa-regular fa-eye"></i>
                    </a>
                    <a
                            href="{{ path('app_compte_etudiant_edit', {'id': compte.id}) }}"
                            target="_blank" class="btn btn-sm btn-primary"
                            data-bs-toggle="tooltip" data-bs-title="Cliquez pour modifier l'utilisateur"
                    >
                        <i class="fa fa-duotone fa-pencil"></i>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun Etudiant Inscrit</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <script>
        const titres = document.querySelectorAll("th");
        titres.forEach((titre) => {
                let title = titre.innerText;
                // si le title se termine par un s, on le supprime
                if (title.slice(-1) === "s") {
                    title = title.slice(0, -1);
                }
                // si le title est composé de plusieurs mots, on met des s à tous les mots après avoir supprimé le s du premier mots (s'il y en a un)
                if (title.indexOf(" ") !== -1) {
                    title = title.split(" ").map((mot, index) => {
                        if (index === 0) {
                            if (mot.slice(-1) === "s") {
                                mot = mot.slice(0, -1);
                            }
                            mot = mot + "s";
                        } else {
                            mot = mot + "s";
                        }
                        return mot;
                    }).join(" ");
                } else {
                    title = title + "s";
                }

                title = title.toLowerCase();

                if (titre.innerText === "Etat de la recherche") {
                    title = "états de recherche";
                } else if (titre.innerText === "Numero INE") {
                    title = "numéros INE";
                }
                titre.title = "cliquez ici pour trier les informations par " + title;
            }
        );
    </script>
{% endblock %}