{% extends 'base.html.twig' %}

{% block title %}Offres{% endblock %}

{% block body %}

    {# style  #}

    <style>
        tbody > tr > td {
            min-width: 100px;
        }
    </style>

    <h1>Offres de stage
        <a class="btn btn-primary btn-sm" href="{{ path('app_offre_new') }}"><i class="fa fa-plus"></i> ajouter</a>
    </h1>

    <table class="MyDataTable  table table-striped table-sm table-hover small">
        <thead class="table-dark">
            <tr>
                <th>Entreprise</th>
                <th>Ville</th>
                <th>Pays</th>
                <th>Intitulé</th>
                <th>Descriptif</th>
                <th>Date dépot</th>
                <th>Parcours</th>
                <th>Mots clés</th>
                <th>Url pièce jointe</th>
                <th>Etat</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
            {% for offre in offres %}
                <tr>
                    <td>{{ offre.entreprise.raisonSociale }}</td>
                    <td>{{ offre.entreprise.ville }}</td>
                    <td>{{ offre.entreprise.pays }}</td>
                    <td>{{ offre.intitule }}</td>
                    <td>{{ offre.descriptif }}</td>
                    <td>{{ offre.dateDepot ? offre.dateDepot|date('d/m/Y') : '' }}</td>
                    <td>{{ offre.parcours }}</td>
                    <td>{{ offre.motsCles }}</td>
                    <td>
                        {% if offre.urlPieceJointe %}
                            <a href="{{ offre.urlPieceJointe }}"
                               target="_blank" class="btn btn-sm btn-primary"
                               data-bs-toggle="tooltip" data-bs-title="Cliquez pour accéder à l'offre"
                            >
                                <i class="fa fa-file-text-o"></i>
                            </a>
                        {% endif %}
                    </td>
                    <td>{% if offre.etatOffre %}{{ offre.etatOffre.etat }}{% endif %}</td>
                    <td>
                        <a
                                href="{{ path('app_offre_show', {'id': offre.id}) }}"
                                target="_blank" class="btn btn-sm btn-primary"
                                data-bs-toggle="tooltip" data-bs-title="Cliquez pour voir les caractéristiques de l'offre"
                        >
                            <i class="fa fa-regular fa-eye"></i>
                        </a>
                        <a
                                href="{{ path('app_offre_edit', {'id': offre.id}) }}"
                                target="_blank" class="btn btn-sm btn-primary"
                                data-bs-toggle="tooltip" data-bs-title="Cliquez pour modifier l'offre"
                        >
                            <i class="fa fa-duotone fa-pencil"></i>
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="12">aucun enregistrement trouvé</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <script>
        const titres = document.querySelectorAll("th");
        titres.forEach((titre) => {
                let title = titre.innerText;
                // si le title se termine par un s, on le supprime
                if (title.slice(-1) === "s") {
                    title = title.slice(0, -1);
                }
                // si le title est composé de plusieurs mots, on met des s à tous les mots après avoir supprimé le s du premier mots (s'il y en a un)
                if (title.indexOf(" ") !== -1) {
                    title = title.split(" ").map((mot, index) => {
                        if (index === 0) {
                            if (mot.slice(-1) === "s") {
                                mot = mot.slice(0, -1);
                            }
                            mot = mot + "s";
                        } else {
                            mot = mot + "s";
                        }
                        return mot;
                    }).join(" ");
                } else {
                    title = title + "s";
                }
                titre.title = "cliquez ici pour trier les informations par " + title.toLowerCase();
            }
        );
    </script>
{% endblock %}

