{% extends 'base.html.twig' %}

{% block title %}Entreprises{% endblock %}

{% block body %}
    <h1>
        Entreprises
        <a  class="btn btn-primary btn-sm" href="{{ path('app_entreprise_new') }}"><i class="fa fa-plus"></i> ajouter</a>
    </h1>
    <p>
       Ici, vous pouvez gérer les entreprises.
    </p>


    <table class="MyDataTable  table table-striped table-sm table-hover small">
        <thead class="table-dark">
            <tr>
                <th>Raison sociale</th>
                <th>Ville</th>
                <th>Pays</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entreprise in entreprises %}
            <tr>
                <td>{{ entreprise.raisonSociale }}</td>
                <td>{{ entreprise.ville }}</td>
                <td>{{ entreprise.pays }}</td>
                <td>
                    <a
                            href="{{ path('app_entreprise_show', {'id': entreprise.id}) }}"
                            target="_blank" class="btn btn-sm btn-primary"
                            data-bs-toggle="tooltip" data-bs-title="Cliquez pour voir les caractéristiques de l'entreprise"
                    >
                        <i class="fa fa-regular fa-eye"></i>
                    </a>
                    <a
                            href="{{ path('app_entreprise_edit', {'id': entreprise.id}) }}"
                            target="_blank" class="btn btn-sm btn-primary"
                            data-bs-toggle="tooltip" data-bs-title="Cliquez pour modifier l'entreprise"
                    >
                        <i class="fa fa-duotone fa-pencil"></i>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <script>
        const titres = document.querySelectorAll("th");
        titres.forEach((titre) => {
                let title = titre.innerText;
                // si le title se termine par un s, on le supprime
                if (title.slice(-1) === "s") {
                    title = title.slice(0, -1);
                }
                // si le title est composé de plusieurs mots, on met des s à tous les mots
                if (title.indexOf(" ") !== -1) {
                    title = title.split(" ").map((mot) => mot + "s").join(" ");
                } else {
                    title += "s";
                }
                titre.title = "cliquez ici pour trier les informations par " + title.toLowerCase();
            }
        );
    </script>

{% endblock %}
